<app-sidebar></app-sidebar>
<p-card>
    <p class="m-8">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit labore voluptatem maxime, incidunt itaque magnam est eos ratione minus ipsam ea pariatur vero voluptates consequuntur numquam iure adipisci quia harum!
    </p>
</p-card>
<p-card header="Lista Clientes">
    <p-table [value]="products" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.code }}</td>
                <td>{{product.name }}</td>
                <td>{{product.category  }}</td>
                <td>{{product.quantity }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
